<h1>Benefits of Park & Cycling</h1>
<p>In here we would discuss the benefits to you and the society / people around you. Over here we are suggesting how you can wisely use your car, be quick to your destination and healthy by cycling some part of your journey on a daily basis</p>
<h2>Personal</h2>
<p>There are a number of personal benefits in cycling on a regular basis to work.</p>
<h3>Personal</h3>
<p>Riding a bike offers many health benefits. Here are just a few:</p>
<ul>
  <li>increased cardiovascular fitness</li>
  <li>increased strength</li>
  <li>increased balance and flexibility</li>
  <li>increased endurance and stamina</li>
  <li>reduced stress</li>
  <li>increased calories burned</li>
</ul>
<p>According to the British Heart Foundation, around 10,000 fatal heart attacks could be avoided each year if people kept themselves fitter. Studies from Purdue University in the US have shown that regular cycling – even as little as 20 miles a week – can cut your risk of heart disease by up to 50 percent</p>
<p>As per NHS it's a low-impact type of exercise, so it's easier on your joints than running or other high-impact aerobic activities. But it still helps you get into shape.
For example, someone who weighs 80kg (12st 9lb) will burn more than 650 calories with an hour’s riding, and tone their legs and bottom. If you ride up hills or off-road, you'll also work your upper body.
</p>
<h3>Financial</h3>
<p>Agreed on the aforesaid point but how does this help me financially in current financial climate? Cycling part of my journey helps <em>reduce expenses towards the hospital & medicine bills</em>. Reducing the car usage helps reduce the <em>fuel expenses</em>. Your health benefit far outweighs the expenses - if any towards parking cost. Check the calculator on how much you can save a year by cycling.</p>
<p>According to the RAC, the yearly cost of car ownership in the UK is about £5,869, the lion’s share of which is down
to fuel. Today, petrol costs roughly £1.29 per litre and diesel £1.34 per litre, with both figures rising to record highs,
says the AA. So should we be letting the buses and trains take the strain? If only.</p>
<p>Public transport costs have gone skyward too and the solution hundreds of thousands are turning to for daily travel,
just as in the ’70s, is the bicycle. With cycling, the only inflationary factors are the rising cost of food and the
payouts for your bike and kit. But you have to eat anyway, and the cost and depreciation on a new bike is at worst
measured in hundreds of pounds, compared to the thousands lost on a car.</p>
<p>Transport for London estimates that the number of cycling journeys in the capital is up 117 percent since 2000. But
this is just a drop in the ocean when you consider there are about 7 million people in the UK who make work-based
journeys of under five miles by car or bus every day. Cycling England – the soon to be defunct Department for
Transport quango tasked with promoting cycling – reckons they could each save upwards of £500 a year if they rode
instead.</p>
<h3>Travel time</h3>
<p>While cars would help you in long distance travels, there are number of benefits in cycling for short distance journeys. More often we get stuck in traffic early in the morning. A 30 minutes journey may turn out to be 1 hour 30 minutes journey on a daily basis during a peak time.  So considering a 233 days of working days in a year, you end up spending additional 466 hours of personal time in travelling to work. While cycling may not be able to get you recover 466 hours a year, it may help you <em>save around 300 hours of your personal time</em>.</p>
<h2>Society</h2>
<p>Some text</p>
<h3>To your city</h3>
<p>Reduce congestions in the city, if people use cars as only ultimatum to travel to their destination.</p>
<h3>Environment</h3>
<p>With nearly a quarter of the UK’s CO2 emissions now coming from road transport, it’s no surprise that leaving your
car at home is going to help pollution both locally and globally. Transport is on its way to overtaking industry as the
major contributor to CO2 emissions in the UK. <em>Vehicles give out about 70 per cent of air pollution in UK towns and
cities like Bristol</em>, and 22 percent of the UK’s total CO2 emissions. Going by bike contributes nothing, and either walking or cycling much more for local journeys would reduce our dependence on oil.</p>
<p>If all commutes in England under five miles were completed by bike instead of car they would save a collective
44,000 tonnes of CO2 every week, the equivalent of heating 17,000 houses. Given that the average speed of rush
hour traffic in London is 7mph and a reasonable average cycling speed is 13mph, that makes commuting by bike
almost twice as fast as taking the car. Oh, and <em>10 bikes can be parked in one car space.</em></p>
<h3>To NHS</h3>
<p>Research shows upping cycling levels by 20 percent in the 10 years up to 2015 could save £107 million in reducing premature deaths, £52m in NHS costs and £87m in fewer sick days.</p>
<p>Reduce burden on NHS on treatment of any cardiac and stress related diseases. No need to be in queue to be treated. In a way your family life is improved by not having any disease or stress related illness.</p>






