<h2>Other Ideas</h2>
<p>Who knows what great ideas Alpha and Beta testing will throw up, but here are some of our current thoughts:</p>
<ul>
<li>Target popular parking destinations and work with owners to provide secure overnight bike storage.</li>
<li>Provide more advanced cycle route options eg crowd sourced popular routes from <a href="strava.com">Strava</a>, promote existing cycle freeways <a href="http://bristolcyclingmanifesto.org.uk/routes/">bristolcyclingmanifesto.org.uk</a></li>
<li>Work with schools to provide <em>Cycle Trains</em> where volunteers can guide school children on safe routes into schools at set times.</li>
<li>Work with providers of bike rental eg <a href="http://www.bromptondock.co.uk/our-docks/bristol-2623/">Brompton Dock</a> to increase number of rental options</li>
<li>Provide options to download routes to smartphones and gps navigation devices</li>
<li>Make it easy to link up with other people using similar routes for car or bike shares</li>
</ul>

<h2>Launch Strategy</h2>
<h3>Alpha</h3>
<ul>
  <li>Test out the concept and gather feedback with a few local organisations, starting with the Council and CX Partners.</li>
  <li>Link up and share feedback with local cycling interest groups like <a href="http://www.bristolcyclingcampaign.org.uk/">www.bristolcyclingcampaign.org.uk/</a></li>
</ul>

<h3>Beta</h3>
<ul>
  <li>Open it up to the public using existing social media channels.</li>
  <li>Target other key local organisations including schools.</li>
  <li>Implement key feedback from Alpha.</li>
</ul>

<h2>Success Criteria</h2>
<ul>
<li>Increased proportion of commutes to work and school by bike. The <a href="http://bristolcyclingmanifesto.org.uk/manifesto/">Bristol Cycling Manifesto</a> has a target of increasing trips to work to 30% by 2025 and we want to help</li>
<li>Reduction in city centre congestion.</li>
</ul>




