<h1>Benefits of Park & Cycling</h1>
<p>In here we would discuss the benefits to you and the society / people around you </p>
<h2>Personal</h2>
<p>There are a number of personal benefits in cycling on a regular basis to work.</p>
<h3>Personal</h3>
<p>Riding a bike offers many health benefits. Here are just a few:</p>
<ul>
  <li>increased cardiovascular fitness</li>
  <li>increased strength</li>
  <li>increased balance and flexibility</li>
  <li>increased endurance and stamina</li>
  <li>reduced stress</li>
  <li>increased calories burned</li>
</ul>
<p>As per NHS it's a low-impact type of exercise, so it's easier on your joints than running or other high-impact aerobic activities. But it still helps you get into shape.
For example, someone who weighs 80kg (12st 9lb) will burn more than 650 calories with an hour’s riding, and tone their legs and bottom. If you ride up hills or off-road, you'll also work your upper body. 
</p>
<h3>Financial</h3>
<p>Agreed on the aforesaid point but how does this help me financially in current financial climate? Cycling part of my journey helps <em>reduce expenses towards the hospital & medicine bills</em>. Reducing the car usage helps reduce the <em>fuel expenses</em>. Your health benefit far outweighs the expenses - if any towards parking cost. Check the calculator on how much you can save a year by cycling.</p>
<h3>Travel time</h3>
<p>While cars would help you in long distance travels, there are number of benefits in cycling for short distance journeys. More often we get stuck in traffic early in the morning. A 30 minutes journey may turn out to be 1 hour 30 minutes journey on a daily basis during a peak time.  So considering a 233 days of working days in a year, you end up spending additional 466 hours of personal time in travelling to work. While cycling may not be able to get you recover 466 hours a year, it may help you <em>save around 300 hours of your personal time</em>.</p>
<h2>Society</h2>
<p>Some text</p>
<h3>To your city</h3>
<p>Reduce congestions in the city, if people use cars as only ultimatum to travel to their destination.</p>
<h3>Environment</h3>
<p>More cycling help reduce Carbon emission. This is quite important, if you consider global warming as a big issue. It would be our contribution to our next generation for healthy living.</p>
<h3>To NHS</h3>
<p>Reduce burden on NHS on treatment of any cardiac and stress related diseases. No need to be in queue to be treated. In a way your family life is improved by not having any disease or stress related illness.</p>





