<h3>Step 1</h3>
<ul>
<li>Enter Origin Post Code</li>
<li>Enter Destination Post Code</li>
<li>Enter Cycle Distance – Ideal distance commuter wants to drive in a one way journey. </li>
<li>Click on “Search” button</li>
</ul>
<h3>Step 2</h3> 
<p>You are presented with number of possible suggested routes with parking place.</p>
<h3>Step 3</h3>
<p>User selects one of the routes presented to get the details</p>
