<body bgcolor="#9CFFCA">
<h1>How it works?</h1>
<p>In its current form, it assumes that the commuter carries a cycle with is car and not making a log distance journey.</p>
<p>User needs to provide some input parameter, such as Origin, Destination and cycle distance.</p>

<h3>Step 1</h3>
<ul>
<li>Enter Origin Post Code</li>
<li>Enter Destination Post Code</li>
<li>Enter Cycle Distance – Ideal distance commuter wants to drive in a one way journey. </li>
<li>Click on “Search” button</li>
</ul>
<h3>Step 2</h3> 
<p>You are presented with number of possible suggested routes with parking place.</p>
<h3>Step 3</h3>
<p>User selects one of the routes presented to get the details</p>
