{% block page %}
  {% assign page_title = 'Home' %}
  {% include "wrapper/header" %}
  <div class="wr__page-content">
    {% include "home-copy" %}
  </div>
  {% include "wrapper/footer" %}
{% endblock %}
