<div class="wr__nav">
  <div class="form__item form__item--string" id="ff-text-1-container">
    <label class="form__label" for="ff-text-1">Start postcode</label>
    <input class="form__field form__field--string" type="text" name="" placeholder="" id="ff-text-1">
  </div>
  <div class="form__item form__item--string" id="ff-text-1-container">
    <label class="form__label" for="ff-text-1">Destination postcode</label>
    <input class="form__field form__field--string" type="text" name="" placeholder="" id="ff-text-1">
  </div>
  <div class="form__item form__item--string" id="ff-text-1-container">
    <label class="form__label" for="ff-text-1">Cycle distance (miles)</label>
    <input class="form__field form__field--string" type="number" name="" placeholder="" id="ff-text-1">
  </div>
  <a href="#" class="btn">Show options</a>
</div>
