<div class="wr__nav">
  <div class="input-fields">
    <div class="form__item form__item--string" id="start-container">
      <label class="form__label" for="start">Start postcode</label>
      <input class="form__field form__field--string" type="text" name="" placeholder="" id="start">
    </div>
    <div class="form__item form__item--string" id="destination-container">
      <label class="form__label" for="destination">Destination postcode</label>
      <input class="form__field form__field--string" type="text" name="" placeholder="" id="destination">
    </div>
    <div class="form__item form__item--string" id="distance-container">
      <label class="form__label" for="distance">Cycle distance (miles)</label>
      <input class="form__field form__field--string" type="number" name="" placeholder="" id="distance">
    </div>
    <span class="btn" id="submit-options">Show options</span>
  </div>
</div>
