<div class="wr__results">
 <div class="result__wrapper">
  <div class="result">
    <p class="result__title">Trenchard street car park</p>
    <p class="result__address">Lodge St, Bristol, BS1 5AN</p>
    <p class="result__more"><a href="#result-1" class="result__more-link js-overlay-open js-overlay-open-dialog">More carpark information</a></p>
    <p class="result__choose"><span class="choose-result btn--secondary btn">Show this route</span></p>
    <div id="result-1" class="overlay overlay--dialog mfp-hide">
      <p class="overlay__title">Information about this route</p>
      <div class="overlay__content">
        <p>You could save £201.40 in a year in fuel alone</p>
                <p>You could save 103Kg of CO2 in a year</p>
                <p>You could save 103,203 calories in a year</p>
                <p>(or 52 Mars Bars)</p>
                <p>You could save 98,030 calories in a year</p>
                <p>(or 50 Mars Bars)</p>
      </div>
    </div>
  </div>
  <div class="result">
    <p class="result__title">Another car park</p>
    <p class="result__address">At some location, BS14ND</p>
    <p class="result__more"><a href="#result-1" class="result__more-link js-overlay-open js-overlay-open-dialog">More carpark information</a></p>
    <p class="result__choose"><span class="choose-result btn--secondary btn">Show this route</span></p>
    <div id="result-1" class="overlay overlay--dialog mfp-hide">
      <p class="overlay__title">Information about this route</p>
      <div class="overlay__content">
        <p>You could save £201.40 in a year in fuel alone</p>
        <p>You could save 103Kg of CO2 in a year</p>
        <p>You could save 103,203 calories in a year</p>
        <p>(or 52 Mars Bars)</p>
        <p>You could save 98,030 calories in a year</p>
        <p>(or 50 Mars Bars)</p>
      </div>
    </div>
  </div>
</div>
</div>
